<div class="panel ">
<div class="row">
	<div class="large-8 columns">
		<h2>Nuevo inventario </h2>
	</div>
</div>


<div class="row">
	<div class="large-9 columns">
		<div class="actions">
			<strong>Producto:</strong>
  			<%= @bike.productReference %> - <%= @bike.productName %> - <%= @bike.productTradeMark %>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-9 columns">
		<div class="actions">
			<strong>Cantidades:</strong>
  			<%= @inventory.productAmount %>
		</div>
	</div>
</div>



<div class="row">
	<div class="large-9 columns">
		<div class="actions">
			<%= link_to 'â† Volver', inventories_path %>
		</div>
	</div>
</div>

</div>

<%= link_to 'Editar', edit_inventory_path(@inventory) %> |
