<br>
<br>
<hr>
<div class="row">
  <div class="large-10 columns" role="content">
    <article>
      <h2 class="subheader"><%= @article.articleTitle%></h2>

      <div class="large-8 columns">
        <h4 class="subheader">Cuerpo</h4>
        <p align='justify'><%= @article.body%></p> 
        <p>Noticia Nro <%= @article.articleId %> - <%= @article.publicationDate%></p>
      </div>
      
    </article>
  </div>
</div>
<%if user_signed_in? && current_user.userType == "Manager"%>
<div class="row">
  <div class="large-8 columns">
    <%= link_to 'Editar', edit_article_path(@article) , class: "radius button center"%>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="large-12 columns">
    <%= link_to 'â† Volver', articles_path %>
  </div>
</div>
<%end%>



