<br>
<div class="row">

  <div class="large-6 columns">

    <%= image_tag @product.image.url%>

  </div>

  <div class="large-6 columns">

    <h3 class="show-for-small">Header<hr/></h3>

    <div class="panel">
      <h4 class="hide-for-small"><%= @product.productTradeMark %> - <%= @product.productName %> <hr/></h4>
      <h5 class="subheader"><%= @product.productDescription %></h5>
      <h5 class="subheader"><strong>Talla: </strong><%= @product.size %></h5>
      <%if @product.gender=='M'%>
      <h5 class="subheader"><strong>Genero: </strong>Masculino</h5>
      <%else%>
      <h5 class="subheader"><strong>Genero: </strong>Femenino</h5>
      <%end%>
      <h5 class="subheader"><strong>Precio:</strong><%= @product.productPrice %> COP$</h5>
    </div>

    <div class="row">
      <div class="large-6 small-6 columns">
        <div class="panel">
          <h5>Referencia</h5>
          <h6 class="subheader"><%= @product.productReference %></h6>
          <%= link_to 'Volver', equipment_index_path , class: "small button radius"%>
        </div>
      </div>

      <%if user_signed_in? && current_user.userType == "Seller"%>
      <div class="large-6 small-6 columns">
        <div class="panel">
          <h5>Id - Estado</h5>
          <h6 class="subheader">
            <%= @product.productId %>
            -

            <%if @product.productStatus == true %>
            Habilitado
            <%else%>
            Deshabilitado
            <%end%>
          </h6>
          <%= link_to 'Editar', edit_equipment_path(@product) , class: "small button success radius"%> 
        </div>
      </div>
      <%end%>
    </div>

  </div>

</div>




