<div class="row">
	<div class="large-6 large-centered columns">
		<div class="panel radius">
			<div class="row">
				<div class="small-8 large-centered columns">
					<h2 align="center">Cambia tu contrase単a</h2>

					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
					<%= devise_error_messages! %>
					<%= f.hidden_field :reset_password_token %>

					<div><%= f.label :password, "Nueva Contrase単a" %><br />
						<%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>

						<div><%= f.label :password_confirmation, "Confirma la nueva contrase単a" %><br />
							<%= f.password_field :password_confirmation, autocomplete: "off" %></div>

							<div class="row">
								<div class="small-4 large-centered columns"><%= f.submit "Cambiar contrase単a", class: "radius button center" %>
								</div>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
