<%= form_for(@client) do |f| %>
<% if @client.errors.any? %>
<div class="row">
  <div class="small-8 large-centered columns">
    <div data-alert class="alert-box alert radius">
      <%= pluralize(@client.errors.count, "error") %> no permite almacenar el cliente:
      <ul>
        <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>


<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Numero de documento</label>
      </div>
      <div class="small-9 columns">
        <%= f.number_field :document, autofocus: true, :required =>true %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Nombre</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :personName, :required =>true, :maxlength =>50 %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Apellidos</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :lastName, :required =>true, :maxlength =>50 %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Telefono</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :telephone, :required=>true, :maxlength =>20 %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Fecha de nacimiento</label>
      </div>
      <div class="small-9 columns">
        <%= f.date_select :birthDay, :required =>true %>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Correo electronico</label>
      </div>
      <div class="small-9 columns">
        <%= f.email_field :email, :required =>true, :maxlength =>50, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Publicidad</label>
      </div>
      <div class="small-9 columns">
        <%= f.check_box :publicity %>
      </div>
    </div>
  </div>
</div>
<br>


<div class="row">
  <div class="small-4 large-centered columns"><%= f.submit "Guardar", class: "button success radius" %>
  </div>
</div>
<% end %>
