<div class="panel">
  <%if @clients.empty?  %>
  <div class="row">
    <div class="small-8 large-centered columns">
      <h1 align="center">Aun no se ha registrado ningun cliente</h1>
    </div>

    <div class="small-2 large-centered columns">
      <% if current_user.userType=='Seller' %> 
      <%= link_to 'Nuevo Cliente',new_client_path , class: "radius button center" %> 
      <% end %>
    </div>

    <%else%>
    <div class="row">
      <div class="small-12 large-centered columns">
        <h1>Lista de clientes - La Ciclería</h1>
      </div>
      <div class="small-12 large-centered columns">

        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Documento</th>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Cumpleaños</th>
              <th>Correo Electronico</th>
              <th>Publicidad</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @clients.each do |client| %>
            <tr>
              <td><%= client.personId %></td>
              <td><%= client.document %></td>
              <td><%= client.personName %> <%= client.lastName %></td>
              <td><%= client.telephone %></td>
              <td><%= client.birthDay %></td>
              <td><%= client.email %></td>
              <td><%if client.publicity == true%>
                Permitida
                <% else %>
                Prohibida
                <% end %>
              </td>
              <td><%= link_to 'Ver', client , class: "small button success centered"%>
              <%= link_to 'Editar', edit_client_path(client) , class: "small button success centered"%>
              <%if client.personStatus == true%>
                <%= link_to 'Deshabilitar', client , class: "small button alert",method: :delete, data: { confirm: 'Desea confirmar esta accion?' } %>
                <% else %>
                <%= link_to 'Habilitar', client ,class: "small button success centered", method: :delete, data: { confirm: 'Desea confirmar esta accion?' } %>
                <% end %>
              </td>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <% if current_user.userType=='Seller' %> 
      <%= link_to 'Nuevo Cliente',new_client_path , class: "radius button center" %> 
      <% end %>
      <% if current_user.userType=='Manager' %> 
      <%= link_to 'Generar reporte de Clientes', clients_path(:pdf) , class: "button success radius"%>
      <%end%>
    </div>    
  </div>
  <br>
  <%end %>
</div>
</div>