<div class="row">
  <div class="large-4 small-12 columns">
    <div class="panel">
      <ul class="side-nav">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>
    <a href="#">
      <div class="panel callout radius">
        <h6>99  items in your cart</h6>
      </div>
    </a>

  </div>

  <div class="large-8 columns">
    <div class="row">

      <% @bikes.each do |bike| %>
      <div class="large-4 small-6 columns">
        <%= image_tag bike.image.url%>

        <div class="panel">
          <h5><%= bike.productName %> - <%= bike.productTradeMark %></h5>
          <h6 class="subheader"><%= bike.productPrice %> COP$</h6>
          <%= link_to 'Ver', bike , class: "small button success centered"%>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <div class="row">

              <div class="large-2 small-6 columns">
                <img src="http://placehold.it/300x300&text=Site Owner">
              </div>

              <div class="large-10 small-6 columns">
                <strong>This Site Is Managed By<hr/></strong>

                Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
              </div>

            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
