<%= form_for(@item) do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

  <ul>
    <% @item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p align='center'>Creacion de venta 2/2</p>

<%= f.hidden_field :saleId, :value => @saleId%>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Producto</label>
      </div>
      <div class="small-9 columns">
        <%= f.collection_select :productId, @products, :productId, :productName, include_blank: true, :required =>true %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Cantidades</label>
      </div>
      <div class="small-9 columns">
        <%= f.number_field :itemAmount, :required =>true %>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="small-6 columns"><%= f.submit "Agregar mas productos", class: "radius button center"%>
  </div>
  <div class="small-6 columns"><%= f.submit "Terminar venta", class: "radius button center"%>
  </div>
</div>


<br>
<div class="row">
  <div class="small-12 large-centered columns">
    <h1>Lista de productos en esta compra</h1>
  </div>

  <div class="small-12 large-centered columns">
    <!--Tabla de productos -->
    <table>
      <thead>
        <tr>
          <th width="50">Id</th>
          <th width="300">Nombre producto</th>
          <th width="300">Referencia</th>
          <th> Cantidad</th>

        </tr>
      </thead>
      <tbody>
        <tr>
         <% @items.each do |item| %>
         <tr>
          <%if item.saleId.to_s == @saleId.to_s%>
          <td><%= item.saleId %></td>
          <td><%= item.productId %></td>
          <td><%= item.itemAmount%></td>
          <td>cantidad</td>
          <%end%>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <% end %>
