<%= form_for(@item) do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

  <ul>
    <% @item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="large-6 columns">
    <%= f.hidden_field :saleId, :value => @saleId%>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Vendedor</label>
      </div>
      <div class="small-9 columns">
        <label for="left-label" class="left inline"><%=current_user.username%> <%=current_user.userLastName%></label>
      </div>
    </div>


    
    <br>



    <div class="row">
      <div class="large-3 columns">
        <label for="right-label" class="right inline">Fecha venta</label>
      </div>
      <div class="large-9 columns">
        <label for="left-label" class="left inline"><%=Time.now%></label>
      </div>
    </div>

    
    <br>



    <div class="row">
      <div class="large-3 columns">
        <label for="right-label" class="right inline">Producto</label>
      </div>
      <div class="large-9 columns">
        <%= f.collection_select :productId, @products, :productId, :productName, include_blank: true, :required =>true %>
      </div>
    </div>

    
    <br>
    <br>

    <div class="row">
      <div class="large-3 columns">
        <label for="right-label" class="right inline">Cantidades</label>
      </div>
      <div class="large-9 columns">
        <%= f.number_field :itemAmount, :required =>true %>
      </div>
    </div>

    <br>
    <br>
    <div class="row">
      <div class="large-6 columns"><%= f.submit "Agregar producto", class: "radius button center"%>
      </div>
      <div class="large-6 columns">
        <%= link_to 'Finalizar venta', sales_path , class: "radius button center" %> 
      </div>
    </div>
  </div>

  <div class="large-6 columns">
    <div class="row">
      <div class="medium-6 medium-push-6 columns">
        <h5 align='center'>Lista de productos en esta compra</h5>
      </div>

      <div class="medium-6 medium-push-6 columns">
        <!--Tabla de productos -->
        <table>
          <thead>
            <tr>
              
              <th width="300">Nombre producto</th>
              <th width="300">Referencia</th>
              <th width="30">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <% @items.each do |item| %>
             <tr>
              <td><%= item[0]%></td>
              <td><%= item[1]%></td>
              <td><%= item[2]%></td>
              <td><%= link_to 'Remover', item_path(@saleId), method: :delete, data: { confirm: 'Desea remover este producto?' } %>
              <%end%>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <br>

      


    </div>
  </div>












