<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :saleId %><br>
    <%= f.number_field :saleId %>

  </div>
  <div class="field">
    Producto<br>
    <%= f.number_field :productId %>
    <%= f.collection_select :productId, @products, :productId, :productName, include_blank: true, :required =>true %>
  </div>
  <div class="field">
    Cantidades<br>
    <%= f.number_field :itemAmount, :required =>true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
