<br>
<br>
<br>
<div class="row">

  <div class="large-6 columns">
      tabla
  </div>

  <div class="large-6 columns">

    <h3 class="show-for-small">Header<hr/></h3>

    <div class="panel">
      <h4 class="hide-for-small">Venta # <%= @sale.saleId%> - La cicleria cafe taller<hr/></h4>
      <h5 class="subheader"><%= @sale.note %></h5>
      <h5 class="subheader"><strong>Vendedor: </strong><%= @sale.sellerId %></h5>
      <h5 class="subheader"><strong>Fecha de venta:</strong> <%= @sale.saleDate %></h5>
    </div>

    <div class="row">
      <div class="large-6 small-6 columns">
        <div class="panel">
          <h5>Cliente</h5>
          <h6 class="subheader"><%= @sale.clientId %></h6>
          <%= link_to 'â† Volver', sales_path%>
        </div>
      </div>

      <%if user_signed_in? && current_user.userType == "Seller"%>
      <div class="large-6 small-6 columns">
        <div class="panel">
          <h5>Id - Estado</h5>
          <h6 class="subheader">
            <%= @sale.saleId %> -
            <%if @sale.saleStatus == true %>
            Habilitado
            <%else%>
            Deshabilitado
            <%end%>
          </h6>
          <%= link_to 'Editar no sirve', edit_bike_path(@product) , class: "small button success radius"%> 
        </div>
      </div>
      <%end%>
    </div>

  </div>

</div>

