<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @product.productId %>
</p>

<p>
  <strong>Productreference:</strong>
  <%= @product.productReference %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @product.productName %>
</p>

<p>
  <strong>Producttrademark:</strong>
  <%= @product.productTradeMark %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @product.productPrice %>
</p>

<p>
  <strong>Productstatus:</strong>
  <%= @product.productStatus %>
</p>

<p>
  <strong>Productdescription:</strong>
  <%= @product.productDescription %>
</p>

<p>
  <strong>Typeproduct:</strong>
  <%= @product.typeProduct %>
</p>

<p>
  <strong>Measures:</strong>
  <%= @product.measures %>
</p>

<p>
  <strong>Biketype:</strong>
  <%= @product.bikeType %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @product.gender %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
