<%= form_for(@sale) do |f| %>
<% if @sale.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

  <ul>
    <% @sale.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <br>Vendedor</br>
  <%= f.collection_select :sellerId, @sellers, :personId, :dataSellers, include_blank: true, :required =>true %>
</div>

<div class="field">
  <br>Cliente</br>
  
  <%= f.collection_select :clientId, @clients, :personId, :dataClients, include_blank: true, :required =>true %>
</div>

<!--Tabla de productos -->
<table>
  <thead>
    <tr>
      <th width="50">Identificador</th>
      <th width="300">Nombre producto</th>
      <th width="300">Referencia</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  
  </tbody>
</table>

<!-- Boton para agregar productos-->
<a href="#" data-reveal-id="elegirProductos" class="radius button center">Elegir productos </a>

<div class="field">
  <%= f.label :saleDate %><br>
  <%= f.date_select :saleDate, :required =>true%>
</div>

<div class="field">
  <%= f.label :note %><br>
  <%= f.text_field :note, :required=>true, :maxlength =>300 %>
</div>
<div class="actions">
  <%= f.submit class: "radius button center"%>
</div>
<% end %>


<div id="elegirProductos" class="reveal-modal" data-reveal>
  <%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= f.hidden_field :sale_id, :value => @sale.saleId %>

  <div class="field">
    Producto<br>
    
    <%= f.collection_select :productId, @products, :productId, :productName, include_blank: true, :required =>true %>
  </div>
  <div class="field">
    Cantidades<br>
    <%= f.number_field :itemAmount, :required =>true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <a class="close-reveal-modal">&#215;</a>

</div>


