<%= form_for(@sale) do |f| %>
<% if @sale.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

  <ul>
    <% @sale.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p align='center'>Creacion de venta 1/2</p>
<div class="field">
  <br>Vendedor</br>
  <%= f.collection_select :sellerId, @sellers, :personId, :dataSellers, :required =>true %>
</div>

<div class="field">
  <br>Cliente</br>
  
  <%= f.collection_select :clientId, @clients, :personId, :dataClients, :required =>true %>
</div>

<div class="field">
  <%= f.label :saleDate %><br>
  <%= f.date_select :saleDate, :required =>true%>
</div>

<div class="field">
  <%= f.label :note %><br>
  <%= f.text_field :note, :required=>true, :maxlength =>300 %>
</div>
<div class="actions">
  <%= f.submit "Siguiente", class: "radius button center"%>
</div>
<% end %>


