<div class="panel">
  <%if @sales.nil?  %>
  <p>            </p>
  <div class="row">
    <div class="small-8 large-centered columns">
      <h1 align="center">Aun no se ha registrado ninguna venta</h1>
    </div>
  </div>
  <%else%>
  <div class="row">
    <div class="small-12 large-centered columns">
      <h1>Lista de ventas - La Ciclería</h1>
    </div>
    <div class="small-12 large-centered columns">
      <table>
        <thead>
          <tr>
            <th width="20">Id de Venta</th>
            <th width="50">Nombre Vendedor</th>
            <th width="50">Nombre Cliente</th>
            <th width="20">Fecha</th>
            <th width="100">Observaciones</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @sales.each do |sale| %>
          <tr>
            <td><%= sale[0]%></td>
            <td><%= sale[1] %></td>
            <td><%= sale[2] %></td>
            <td><%= sale[3] %></td>
            <td><%= sale[4] %></td>
            <td><%= link_to 'Ver',sale_path(:id =>sale[0]), class: "small button success"%>
              <%= link_to 'Editar', edit_sale_path(:id =>sale[0]), class: "small button success" %>
                <% if sale[5] == 1 %>
                <%= link_to 'Deshabilitar', sale_path(:id=>sale[0]), method: :delete, class: "small button alert", data: { confirm: '¿Estas seguro de deshabilitar esta venta?' }%>
                <% else %>
                <%=link_to "Habilitar", sale_path(:id=>sale[0]), method: :delete, class: "small button success"%>
              </td>
              <% end %>


            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>

      <div class="small-4 large-centered columns"><%= link_to "Crear Venta", new_sale_path, class: "button success radius"%>  </div>
    </div>
  </div>
  <%end%>
</div>