<br>
<br>
<br>
<div class="row">

  <div class="large-6 columns">
   <table>
    <thead>
      <tr>
        <th width="300">Nombre producto</th>
        <th width="30"> Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <% @items.each do |item| %>
       <tr>
        <td><%= item[0] %></td>
        <td><%= item[1]%></td>
        <% end %>      
        
      </tr>
    </tbody>
  </table>
  <br>

  
</div>

<div class="large-6 columns">

  <h3 class="show-for-small">Header<hr/></h3>

  <div class="panel">
    <h4 class="hide-for-small">Venta # <%= @sale.saleId%> - La cicleria cafe taller<hr/></h4>
    <h5 class="subheader"><%= @sale.note %></h5>
    <h5 class="subheader"><strong>Vendedor: </strong>
      <% @seller.each do |seller| %>
      <%=seller.username %> <%=seller.userLastName %></h5>
      <% end %>
      <h5 class="subheader"><strong>Fecha de venta:</strong> <%= @sale.saleDate %></h5>
    </div>

    <div class="row">
      <div class="large-6 small-6 columns">
        <div class="panel">
          <h5>Cliente</h5>
          <h6 class="subheader">
            <% @client.each do |client| %>
            <%=client.personName %> <%=client.lastName %></h5>
            <% end %>

          </h6>
          <%= link_to 'â† Volver', sales_path%>
        </div>
      </div>

      <%if user_signed_in? && current_user.userType == "Seller"%>
      <div class="large-6 small-6 columns">
        <div class="panel">
          <h5>Id - Estado</h5>
          <h6 class="subheader">
            <%= @sale.saleId %> -
            <%if @sale.saleStatus == true %>
            Habilitado
            <%else%>
            Deshabilitado
            <%end%>
          </h6>
          <%= link_to 'Editar no sirve', edit_sale_path(@sale) , class: "small button success radius"%> 
        </div>
      </div>
      <%end%>
    </div>

  </div>

</div>

